* {
  font-family: "Markazi Text", "Karla", serif;
}

body {
  margin: 0; /* removes white border around website*/
  padding: 0;
  margin-top: -22px;
}

/* Navbar Styling */

.nav-logo {
  max-height: 4rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

.nav-container {
  display: flex;
  /* grid-template-columns: repeat(7, 1fr); */
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 2rem;
  font-size: 1em;
  list-style: none;
  gap: 1rem;
  padding-top: 1.5rem;
}

.navbar a {
  text-decoration: none;
}

.nav-container a{
  color: #000000;
}
.nav-container a:hover{
  color: #f4ce14;
}



/* STYLING HERO SECTION */


.hero-section {
  background-color: #495e57;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.25rem 5rem 1.2rem 5rem;
  margin-top: -1.4rem;
}

.hero-text > h1 {
  font-size: 3rem;
  margin-top: 0rem;
  margin-bottom: -3rem;
}

.hero-text > h2 {
  font-size: 2.5rem;
}

.hero-image {
  max-height: 17rem;
  padding-left: 2rem;
}

.hero-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action-button {
  background-color: #f4ce14;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.2rem;
  font-family: "Karla";
  font-size: 2rem;
  text-decoration: none;
}

.action-button:hover {
  background-color: #495e57;
  color: #eeeeee;
  border-style: solid;
  border-width: 1px;
  border-color: #edefee;
  transition: 0.2s;
}
